<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NEW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
    
</head>
<body>

    <div class="container">
        <h1>Add a new animal!</h1>
        <form action="/dashboard" method="post">
            <div class="name_row">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="submit_row">
                <input type="submit" value="submit new animal">
            </div>
        </form>
        <form action="/" method="get">
            <input type="submit" value="Main Page!!">
        </form>
    </div>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
</body>
</html>